@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,wght@1,500&display=swap|Chela+One&display=swap'

/*---------------------------Colors */

.bg-color-name-title {
    background-color: #b4a9a9;
}
  
/*-----------------------------Headings*/

header {
    margin: 0;
}

.heading {
    margin: 50px;
}
   
.logo {
    background: url("../images/Morning Inspection.jpg");
    background-position: left;
    background: no-repeat;
    background: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Texturina", "Chela+One";
    font-weight: 100px;
    font-size: 48px;
    margin-top: 50px;
    color: black;
    font-family: "Texturina";
    font-weight: 200;
    font-size: 28px;
    margin-bottom: 90px;
    color: black;
}