@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

.bg-color-name-title {
    background-color: #e60d0d;
}
 
header {
    margin: 0;
}

.logo {
    background: url("../images/gd logo.jpg");
    background-position: left;
    background: no-repeat;
    background: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}